@media (max-width: 991.98px) {
    .card a img {
        display: none;
    }
    .card {
        margin-left: auto !important;
        margin-right: auto !important;
    }
    h3 {
        text-align: center;
        font-size: 30pt !important;
        font-weight: 500 !important;
    }
}

ol li {
    margin-bottom:10px
}

ul li {
    margin-bottom:10px
}

html {
    position: relative;
    min-height: 100%;
}
body {
    margin-bottom: 60px; /* Margin bottom by footer height */
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px; /* Set the fixed height of the footer here */
    line-height: 60px; /* Vertically center the text there */
    background-color: #f5f5f5;
}

body .modal-flex.show .modal-dialog { /* Width */
    max-width: 100%;
    width: auto !important;
    display: inline-block;
}

.modal.modal-flex.show {
    display: flex !important;
}
.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}
   
.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

.carousel-inner > .carousel-item > img {
    margin: 0 auto;
    display: flex;
}
.carousel-indicators li {
    background-color: rgba(0, 0, 0, 0.5) !important;
}
.carousel-indicators li.active {
    background-color: #000 !important;
}
.carousel-inner {
    margin-bottom:50px;
}
.carousel-indicators {
    bottom:-50px;
}